$prime-one: rgba(37, 42, 52);
$prime-two: rgba(36, 52, 71);
$prime-three: rgba(255, 46, 99);
$prime-four: rgba(234, 234, 234);

$gradient: linear-gradient(145deg, rgba(37, 42, 52, 1) 25%, rgba(255, 46, 99, 1) 50%, rgba(234, 234, 234, 1) 75%);

$text-one: black;
$text-two: white;

.color {
    &__prime-one {
        &__background {
            background: $prime-one;
        }
        &__background-color {
            background-color: $prime-one;
        }
        &__color {
            color: $prime-one;
        }
    }
    &__prime-two {
        &__background {
            background: $prime-two;
        }
        &__background-color {
            background-color: $prime-two;
        }
        &__color {
            color: $prime-two;
        }
    }
    &__prime-three {
        &__background {
            background: $prime-three;
        }
        &__background-color {
            background-color: $prime-three;
        }
        &__color {
            color: $prime-three;
        }
    }
    &__prime-four {
        &__background {
            background: $prime-four;
        }
        &__background-color {
            background-color: $prime-four;
        }
        &__color {
            color: $prime-four;
        }
    }
    &__gradient {
        &__background {
            background: $gradient;
        }
        &__background-color {
            background-color: $gradient;
        }
        &__color {
            color: $gradient;
        }
    }
    &__text {
        &__one {
            color: $text-one;
        }
        &__two {
            color: $text-two;
        }
    }
}
