<ion-content>
  <ion-grid class="flex__null__center flex__column grid__grid">
    <ion-row>
      <ion-col class="local__grid__col">
        <div (click)="selectImage()"
          class="flex__center__center flex__column color__prime-three__background-color local__select-image">
          <ion-icon *ngIf="!userImage" name="image-outline" class="color__text__two grid__icon">
          </ion-icon>
          <span *ngIf="!userImage" class="color__text__two">{{ 'ADD_POST_ADD_PICTURE' | translate }}</span>
          <img *ngIf="userImage" [src]="userImage" (click)="selectImage()" alt="">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="grid__row">
      <ion-col>
        <span class="p-float-label">
          <input id="float-inputName" class="grid__input" type="text" pInputText [(ngModel)]="post.titel">
          <label for="float-inputName">{{ 'ADD_POST_INPUT_TITLE' | translate }}</label>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="grid__row__small">
      <ion-col class="grid__input">
        <ion-item>
          <ion-label>{{ 'ADD_POST_INPUT_DATE' | translate }}</ion-label>
          <ion-datetime [placeholder]="'ADD_POST_INPUT_DATE_PLACEHOLDER' | translate"
            [doneText]="'ADD_POST_INPUT_DATE_DONE' | translate" [cancelText]="'ADD_POST_INPUT_DATE_CANCEL' | translate"
            [(ngModel)]="post.date">
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="grid__row__small">
      <ion-col class="grid__input">
        <ion-item>
          <div class="flex__space-between__start local__nsfw-holder">
            <span>{{ 'ADD_POST_INPUT_NSFW' | translate }}</span>
            <p-checkbox binary="true" inputId="verify" [(ngModel)]="post.nsfw"></p-checkbox>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="grid__row__small">
      <ion-col>
        <span class="p-float-label">
          <textarea id="floatLabelDescription" #floatLabelDescription inputId="floatLabelDescription" rows="3" cols="30"
            pInputTextarea [(ngModel)]="post.description" class="local__grid__input"></textarea>
          <label for="floatLabelDescription">{{ 'ADD_POST_INPUT_DESCRIPTION' | translate }}</label>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="flex__nowrap">
    <button class="button-fullsize" (click)="save()">
      <span class="color__text__two">{{ 'ADD_POST_BUTTON' | translate }}</span>
    </button>
  </div>
</ion-content>