@use "/src/assets/styles/config/color.scss";
@use "/src/assets/styles/imports/flex.scss";
@use "/src/assets/styles/imports/button.scss";
@use "/src/assets/styles/imports/grid.scss";

.local {
    &__grid {
        &__col {
            padding-top: 0;
        }
        &__input {
            @extend .grid__input;
            height: 140px;
        }
    }
    &__select-image {
        height: 20vh;
        width: 100vw;
    }
    &__nsfw-holder {
        width: 100%;
    }
}

ion-icon {
    color: black;
}

ion-button {
    --color: black;
}

.slider-pager-page {
    color: white;
    fill: #f90;
    stroke: red;
    background-color: blue;
}
.slider-pager-page.active {
    fill: #f90;
    stroke: red;
    color: blue;
    background-color: red;
}

:host {
    .button-round {
        --padding-start: 10px;
        --padding-end: 10px;
    }
}
