<ion-content>
  <ion-grid class="flex__center__center color__text__one local__grid">
    <ion-row>
      <ion-col>
        <angular-cropper #angularCropper [cropperOptions]="config" [imageUrl]="imageUrl"></angular-cropper>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="flex__space-evenly local__crop">
    <ion-button style="--background: black" (click)="returnImage()">
      <ion-icon slot="icon-only" name="checkmark-circle-outline"></ion-icon>
    </ion-button>
    <ion-button style="--background: black" (click)="rotateRight()">
      <ion-icon slot="icon-only" name="reload-circle-outline"></ion-icon>
    </ion-button>
    <ion-button style="--background: black" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>