@use "/src/assets/styles/config/color.scss";
@use "/src/assets/styles/imports/flex.scss";

.local {
    &__grid {
        height: 100%;
    }
    &__crop {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}
