<ion-content [fullscreen]="true" style="overflow-y: scroll;">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide class="flex__column">
      <ion-button fill="clear" shape="round" (click)="dismiss()"
        style="position: absolute; top: 11.5px; left: 10px; z-index: 99;">
        <ion-icon slot="icon-only" name="arrow-back" class="color__text__two"></ion-icon>
      </ion-button>
      <memories-add-post groupId="{{groupId}}" style="width: 100%; height: 100%;" [slides]="slides"></memories-add-post>
    </ion-slide>

    <ion-slide class="flex__column">
      <ion-content>
        <ion-refresher slot="fixed" (ionRefresh)="updateGroup($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <p-table [value]="group.posts">
          <ng-template pTemplate="header">
            <tr>
              <ion-header [translucent]="true">
                <ion-toolbar>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="flex__center">
                        <ion-button fill="clear" shape="round" (click)="dismiss()">
                          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                        </ion-button>

                        <ion-title class="color__text__one">
                          {{title}}
                        </ion-title>

                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-toolbar>
              </ion-header>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-post let-i="rowIndex">
            <tr *ngIf="groupId && post && userImages && (imagesLoaded | async)">
              <memories-post-standard [groupId]="groupId" [postId]="post" [postPosition]="i"
                [postLength]="group.posts.length" [userImages]="userImages" style="position: relative;"
                (loaded)="awaitLoading()">
              </memories-post-standard>
            </tr>
          </ng-template>
        </p-table>
      </ion-content>
    </ion-slide>

    <ion-slide class="flex__column">
      <ion-button fill="clear" shape="round" (click)="dismiss()"
        style="position: absolute; top: 11.5px; left: 10px; z-index: 99;">
        <ion-icon slot="icon-only" name="arrow-back" class="color__text__one"></ion-icon>
      </ion-button>
      <memories-group-settings style="width: 100%; height: 100%;"></memories-group-settings>
    </ion-slide>
  </ion-slides>
</ion-content>