@use "/src/assets/styles/config/color.scss";
@use "/src/assets/styles/imports/flex.scss";

ion-icon {
    color: black;
}

ion-button {
    --color: black;
}

:host {
    .button-round {
        --padding-start: 10px;
        --padding-end: 10px;
    }
}

.titleImage {
    width: 100%;
    height: auto;
}

ion-slides {
    height: 100%;
}

.bcHeaderOne {
    --background: rgba(197, 31, 93);
}