<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="background">
    <div class="shader"></div>
  </div>
  <div class="grid" *ngIf="init">
    <div class="one">
      <ion-icon name="heart-outline" class="icon"></ion-icon>
      <h1 class="header">Memories</h1>
    </div>
    <div class="two">
      <button class="button" (click)="changePage('register')">SIGN UP</button>
      <button class="button fill" (click)="changePage('login')">LOGIN</button>
    </div>
  </div>
  <div class="login-page" *ngIf="!init">
    <div class="form">
      <div class="close" (click)="allFalse()">X</div>
      <h1 class="head" *ngIf="login">login</h1>
      <h1 class="head" *ngIf="register">sign up</h1>
      <h1 class="head" *ngIf="forgot">forgot password</h1>
      <h1 class="head" *ngIf="recover">recover password</h1>
      <div class="body">
        <form class="register-form" *ngIf="register">
          <input type="text" #registerName placeholder="name" />
          <input type="email" #registerEmail placeholder="email address" />
          <input type="password" #registerCode placeholder="invite code" />
          <input type="password" #registerPassword placeholder="password" />
          <br />
          <br />
          <button
            (click)="registerCall(registerName.value, registerEmail.value, registerCode.value, registerPassword.value)">register</button>
          <p class="message">Already registered? <a (click)="changePage('login')">Sign In</a></p>
        </form>
        <!-- <memories-input [fields]="loginFields" (outputOne)="log($event)" (outPutError)="log($event)"></memories-input> -->
        <form class="login-form" *ngIf="login">
          <input #loginEmail id="loginEmail" type="email" placeholder="email" />
          <input #loginPassword id="loginPassword" type="password" placeholder="password" />
          <br />
          <br />
          <button (click)="loginCall(loginEmail.value, loginPassword.value)">login</button>
          <p class="message">Forgot Password? <a (click)="changePage('forgot')">Reset Password</a></p>
        </form>
        <form class="login-form" *ngIf="forgot">
          <br />
          <br />
          <br />
          <input type="email" #forgotEmail placeholder="email address" />
          <br />
          <br />
          <button (click)="forgotCall(forgotEmail.value)">send code</button>
          <p class="message">Already Have A Code? <a (click)="changePage('recover')">Reset here</a></p>
        </form>
        <form class="login-form" *ngIf="recover">
          <input type="email" #recoverEmail placeholder="email address" />
          <input type="text" #recoverCode placeholder="code" />
          <input type="password" #recoverPassword placeholder="new password" />
          <br />
          <br />
          <button (click)="recoverCall(recoverEmail.value, recoverCode.value, recoverPassword.value)">reset</button>
          <p class="message">Not registered? <a (click)="changePage('register')">Create an account</a></p>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <span class="smallLink">Data Protection</span>
    <span class="smallLink">Terms Of Use</span>
  </div>
</ion-content>