.background {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url("./../../assets/image/login_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

.shader {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(
        145deg,
        rgba(20, 29, 38, 1) 20%,
        rgba(36, 52, 71, 1) 40%,
        rgba(197, 31, 93, 1) 60%,
        rgba(255, 255, 255, 1) 80%
    );
    opacity: 0.9;
    z-index: -99;
}

.grid {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.one {
    flex-basis: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two {
    flex-basis: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.icon {
    width: 27vw;
    height: 27vw;
    color: white;
    font-weight: bold;
}
.header {
    color: white;
    font-weight: bold;
    font-size: 10vw;
}
.button {
    width: 70vw;
    height: 6vh;

    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: 3px solid rgba(36, 52, 71, 1);
    border-radius: 10rem;
    color: #fff;
    background-color: rgba(36, 52, 71, 0);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    outline: none;
    z-index: 1;
    &.fill {
        background-color: rgba(36, 52, 71, 1);
    }
}
.footer {
    position: absolute;
    width: 100vw;
    bottom: 7px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.smallLink {
    color: rgba(36, 52, 71, 1);
    font-size: small;
    font-weight: bold;
}

.login-page {
    width: 80vw;
    height: 85vh;
    padding: 8% 0 0;
    margin: auto;
    margin-top: 5vh;
}
.head {
    height: 30%;
    font-weight: bold;
    font-size: 10vw;
    color: rgba(36, 52, 71, 1);
}
.body {
    height: 70%;
}
.form {
    height: 100%;
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    width: 40vw;
    height: 6vh;

    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: 3px solid rgba(36, 52, 71, 1);
    border-radius: 10rem;
    color: #fff;
    background-color: rgba(36, 52, 71, 1);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    outline: none;
    z-index: 1;
}
.form button:hover,
.form button:active,
.form button:focus {
    background: rgb(24, 34, 47);
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: rgba(197, 31, 93, 1);
    font-weight: bold;
    text-decoration: none;
}
.form .register-form {
    height: 30%;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #ef3b3a;
}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(36, 52, 71, 1);
    border-radius: 1rem;
    color: rgba(36, 52, 71, 1);
    background-color: rgba(36, 52, 71, 0);
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    transition: all 0.3s;
    overflow: hidden;
    outline: none;
    z-index: 1;
}