<ion-content>
  <ion-grid class="flex__null__center flex__column grid__grid"
    style="position: relative; height: calc(100% - 8vh); padding-top: 0; overflow-y: scroll;">
    <ion-row style="margin: 5vw;">
      <ion-col class="flex__center">
        <ion-icon name="settings-outline" style="font-size: 128px;"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="grid__row__small">
      <ion-col>
        <span class="p-float-label">
          <input id="floatInputName" #floatInputName type="text" class="grid__input" pInputText>
          <label for="floatInputName">{{ 'GROUP_SETTING_GROUPID' | translate }}</label>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="flex__nowrap">
    <button class="flex__center__center__ color__prime-two__background-color" style="width: 100vw; height: 8vh;">
      <span class="color__text__two">Save</span>
    </button>
  </div>
</ion-content>