@use "/src/assets/styles/config/color.scss";
@use "/src/assets/styles/imports/flex.scss";
@use "/src/assets/styles/imports/button.scss";
@use "/src/assets/styles/imports/grid.scss";

ion-icon {
    color: black;
}

ion-button {
    --color: black;
}

:host {
    .button-round {
        --padding-start: 10px;
        --padding-end: 10px;
    }
}
