<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="flex__center">
          <ion-button fill="clear" shape="round" (click)="dismiss()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
          <ion-title class="color__text__one">
            Join Group
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid class="flex__null__center flex__column grid__grid">
      <ion-row class="grid__row">
        <ion-col class="flex__center">
          <ion-icon name="people-outline" class="grid__icon"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="grid__row">
        <ion-title class="color__text__one">
          Join A Group
        </ion-title>
      </ion-row>
      <ion-row class="grid__row__small">
        <ion-col>
          <span class="p-float-label">
            <input id="floatInputName" #floatInputName type="text" class="grid__input" pInputText>
            <label for="floatInputName">GroupId</label>
          </span>
        </ion-col>
      </ion-row>
      <ion-row class="grid__row__small">
        <ion-col>
          <span class="p-float-label">
            <input id="floatInputPassword" #floatInputPassword type="password" class="grid__input" pInputText>
            <label for="floatInputPassword">Password</label>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="flex__nowrap">
      <button class="button-fullsize" (click)="joinGroup(floatInputName.value, floatInputPassword.value)">
        <span class="color__text__two">Join</span>
      </button>
    </div>
  </ion-content>
</ion-content>