<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div class="background" *ngIf="showSpinner"></div>
  <ngx-spinner bdColor="rgba(255, 255, 255, 0)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true" style="z-index: 9999999;">
    <p class="color__text__two"> Loading... </p>
  </ngx-spinner>
  <p-toast position="bottom-right" [baseZIndex]="10000"></p-toast>
</ion-app>
