@use "/src/assets/styles/config/color.scss";
@use "/src/assets/styles/imports/flex.scss";

$button-height: 8vh;

.button-fullsize {
    width: 100vw;
    height: $button-height;
    @extend .color__prime-two__background-color;
    @extend .flex__center__center;
}

.button-halfsize-a {
    width: 50vw;
    height: $button-height;
    @extend .color__prime-two__background-color;
    @extend .flex__center__center;
}

.button-halfsize-b {
    width: 50vw;
    height: $button-height;
    @extend .color__prime-three__background-color;
    @extend .flex__center__center;
}
