.flex {
    display: flex;
    &__start {
        @extend .flex;
        justify-content: flex-start;
        &__start {
            @extend .flex__start;
            align-items: flex-start;
        }
        &__center {
            @extend .flex__start;
            align-items: center;
        }
        &__end {
            @extend .flex__start;
            align-items: flex-end;
        }
    }
    &__center {
        @extend .flex;
        justify-content: center;
        &__start {
            @extend .flex__center;
            align-items: flex-start;
        }
        &__center {
            @extend .flex__center;
            align-items: center;
        }
        &__end {
            @extend .flex__center;
            align-items: flex-end;
        }
    }
    &__end {
        @extend .flex;
        justify-content: flex-end;
        &__start {
            @extend .flex__end;
            align-items: flex-start;
        }
        &__center {
            @extend .flex__end;
            align-items: center;
        }
        &__end {
            @extend .flex__end;
            align-items: flex-end;
        }
    }
    &__space-around {
        @extend .flex;
        justify-content: space-around;
        &__start {
            @extend .flex__space-around;
            align-items: flex-start;
        }
        &__center {
            @extend .flex__space-around;
            align-items: center;
        }
        &__end {
            @extend .flex__space-around;
            align-items: flex-end;
        }
    }
    &__space-between {
        @extend .flex;
        justify-content: space-between;
        &__start {
            @extend .flex__space-between;
            align-items: flex-start;
        }
        &__center {
            @extend .flex__space-between;
            align-items: center;
        }
        &__end {
            @extend .flex__space-between;
            align-items: flex-end;
        }
    }
    &__space-evenly {
        @extend .flex;
        justify-content: space-evenly;
        &__start {
            @extend .flex__space-evenly;
            align-items: flex-start;
        }
        &__center {
            @extend .flex__space-evenly;
            align-items: center;
        }
        &__end {
            @extend .flex__space-evenly;
            align-items: flex-end;
        }
    }
    &__null {
        @extend .flex;
        &__start {
            @extend .flex__null;
            align-items: flex-start;
        }
        &__center {
            @extend .flex__null;
            align-items: center;
        }
        &__end {
            @extend .flex__null;
            align-items: flex-end;
        }
    }
    &__wrap {
        @extend .flex;
        flex-wrap: wrap;
    }
    &__nowrap {
        @extend .flex;
        flex-wrap: nowrap;
    }
    &__reverse {
        @extend .flex;
        flex-wrap: wrap-reverse;
    }
    &__row {
        @extend .flex;
        flex-direction: row;
    }
    &__row-reverse {
        @extend .flex;
        flex-direction: row-reverse;
    }
    &__column {
        @extend .flex;
        flex-direction: column;
    }
    &__reverse {
        @extend .flex;
        flex-direction: column-reverse;
    }
    &__pad {
        padding: 0.5em;
    }
}
