@use "/src/assets/styles/imports/button.scss";

.grid {
    &__grid {
        position: relative;
        height: calc(100% - #{button.$button-height});
        padding-top: 0;
        overflow-y: scroll;
    }
    &__row {
        margin: 5vw;

        &__small {
            margin: 3vw;
        }
    }
    &__icon {
        font-size: 100px;
    }
    &__input {
        width: 80vw;
    }
}
