.width {
    &__05 {
        @extend .width;
        width: 4.1666%;
        min-width: 4.1666%;
    }
    &__1 {
        @extend .width;
        width: 8.3333%;
        min-width: 8.3333%;
    }
    &__2 {
        @extend .width;
        width: 16.6667%;
        min-width: 16.6667%;
    }
    &__3 {
        @extend .width;
        width: 25%;
        min-width: 25%;
    }
    &__4 {
        @extend .width;
        width: 33.3333%;
        min-width: 33.3333%;
    }
    &__5 {
        @extend .width;
        width: 41.6667%;
        min-width: 41.6667%;
    }
    &__6 {
        @extend .width;
        width: 50%;
        min-width: 50%;
    }
    &__7 {
        @extend .width;
        width: 58.3333%;
        min-width: 58.3333%;
    }
    &__8 {
        @extend .width;
        width: 66.6667%;
        min-width: 66.6667%;
    }
    &__9 {
        @extend .width;
        width: 75%;
        min-width: 75%;
    }
    &__10 {
        @extend .width;
        width: 83.3333%;
        min-width: 83.3333%;
    }
    &__11 {
        @extend .width;
        width: 91.6667%;
        min-width: 91.6667%;
    }
    &__12 {
        @extend .width;
        width: 100%;
        min-width: 100%;
    }
}
