<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col class="flex__center">
          <ion-button fill="clear" shape="round" (click)="dismiss()">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
          <ion-title class="color__text__one">
            {{ 'INVITES' | translate }}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!-- VERIFIED USER -->
<ion-content *ngIf="emailVerified">
  <ion-grid class="flex__null__center flex__column local__grid">
    <ion-row class="grid__row">
      <ion-col class="flex__center">
        <ion-icon name="mail-outline" class="grid__icon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="grid__row">
      <ion-title class="color__text__one">
        {{ 'INVITES_HEADER_INVITE' | translate }}
      </ion-title>
    </ion-row>
    <ion-row class="grid__row">
      <ion-text class="color__text__one">
        {{ 'INVITES_DESCRIPTION_INVITE' | translate }}
      </ion-text>
    </ion-row>
    <ion-row class="grid__row">
      <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="code" />
      <ion-button style="--background: white" (click)="copyCode()">
        <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- NOT VERIFIED USER -->
<ion-content *ngIf="!emailVerified">
  <ion-grid class="flex__column flex__null__center grid__grid">
    <ion-row class="grid__row">
      <ion-col class="flex__center">
        <ion-icon name="shield-checkmark-outline" class="grid__icon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="grid__row">
      <ion-title class="color__text__one">
        {{ 'INVITES_HEADER_VERIFY' | translate }}
      </ion-title>
    </ion-row>
    <ion-row class="grid__row">
      <ion-text class="color__text__one">
        {{ 'INVITES_DESCRIPTION_VERIFY' | translate }}
      </ion-text>
    </ion-row>
    <ion-row class="grid__row">
      <span class="p-float-label">
        <input id="verifyCode" type="text" pInputText [(ngModel)]="verifyCode">
        <label for="verifyCode">{{ 'INVITES_CODE_PLACEHOlDER_VERIFY' | translate }}</label>
      </span>
    </ion-row>
  </ion-grid>
  <div class="flex__nowrap">
    <button class="button-halfsize-a" (click)="sendMail()">
      <span class="color__text__two">{{ 'INVITES_BUTTON_A_VERIFY' | translate }}</span>
    </button>
    <button class="button-halfsize-b" (click)="verify()">
      <span class="color__text__two">{{ 'INVITES_BUTTON_B_VERIFY' | translate }}</span>
    </button>
  </div>
</ion-content>