.background {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-image: url("./../../assets/image/login_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

.shader {
    width: 100vw;
    height: 100vh;

    background: linear-gradient(
        145deg,
        rgba(20, 29, 38, 1) 20%,
        rgba(36, 52, 71, 1) 40%,
        rgba(197, 31, 93, 1) 60%,
        rgba(255, 255, 255, 1) 80%
    );
    opacity: 0.9;
    z-index: -99;
}

.grid {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.one {
    flex-basis: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two {
    flex-basis: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.icon {
    width: 27vw;
    height: 27vw;
    color: white;
    font-weight: bold;
}
.header {
    color: white;
    font-weight: bold;
    font-size: 10vw;
}
.button {
    width: 70vw;
    height: 6vh;

    display: inline-block;
    padding: 0.75rem 1.25rem;
    border: 3px solid rgba(36, 52, 71, 1);
    border-radius: 10rem;
    color: #fff;
    background-color: rgba(36, 52, 71, 0);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    outline: none;
    z-index: 1;
    &.fill {
        background-color: rgba(36, 52, 71, 1);
    }
}
.footer {
    position: absolute;
    width: 100vw;
    bottom: 7px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.smallLink {
    color: rgba(36, 52, 71, 1);
    font-size: small;
    font-weight: bold;
}
