<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="background">
    <div class="shader"></div>
  </div>
  <div class="grid">
    <div class="one">
      <ion-icon name="heart-outline" class="icon"></ion-icon>
      <h1 class="header">Memories</h1>
    </div>
    <div class="two">
      <button class="button" (click)="changePage('register')">SIGN UP</button>
      <button class="button fill" (click)="changePage('login')">LOGIN</button>
    </div>
  </div>
</ion-content>