<ng-container style="position: relative;">
  <div style="height: 2vh;"></div>
  <div style="position: relative; display: flex; flex-wrap: nowrap;">
    <div style="display: flex; flex-direction: column; width: 20%; align-items: center;">
      <div>
        <p-skeleton height="40px" width="40px" borderRadius="50%" shape="circle"></p-skeleton>
      </div>
    </div>
    <div style="display: flex; position: absolute; left: 10vw; top: 9px; align-items: center;">
      <div style="height: 1px; width: 25vw; background-color: #e9ecef; z-index: -99;"></div>
      <div style="height: 3px; width: 2vw;"></div>
      <p-skeleton height="14px" width="10vw"></p-skeleton>
      <div style="height: 3px; width: 2vw;"></div>
      <div style="height: 1px; width: 35vw; background-color: #e9ecef;"></div>
    </div>
  </div>
  <div *ngIf="!isLast"
    style="position: absolute; top: 40px; left: calc(10% - 2px); width: 4px; height: 100%; background-color: #e9ecef; z-index: -99;">
  </div>
  <div style="display: flex; flex-direction: column; position: relative; left: 20%;">
    <p-skeleton height="180px" width="70vw"></p-skeleton>
    <div style="height: 1vh;"></div>
    <p-skeleton height="14px" width="30vw"></p-skeleton>
    <div style="height: 1vh;"></div>
    <p-skeleton height="40px" width="70vw"></p-skeleton>
  </div>
  <div style="height: 2vh;"></div>
</ng-container>