@use "/src/assets/styles/config/color.scss";
@use "/src/assets/styles/imports/flex.scss";
@use "/src/assets/styles/imports/button.scss";

ion-icon {
    color: black;
}

ion-button {
    --color: black;
}

:host {
    .button-round {
        --padding-start: 10px;
        --padding-end: 10px;
    }
}

.row {
    margin: 3vw;
}

.col {
    width: 80vw;
}
