<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="flex__center">
          <ion-button fill="clear" shape="round" (click)="dismiss()" [disabled]="blockScreen">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
          <ion-title class="color__text__one">
            {{ 'ACCOUNT' | translate }}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="blockScreen" style="background-color: rgba(0,0,0,.5); position: absolute; z-index: 999;"
    class="flex__center__center height perh100 width vw100">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <ion-grid class="flex__null__center flex__column"
    style="position: relative; height: calc(100% - 8vh); padding-top: 0; overflow-y: scroll;">
    <ion-row class="row">
      <ion-col>
        <!-- No Picture -->
        <p-avatar *ngIf="!user?.image" label="{{user?.name.charAt(0).toUpperCase()}}" size="xlarge" shape="circle"
          [style]="{'height': '150px', 'width': '150px', 'overflow': 'hidden', 'border-radius': '50%', 'mix-blend-mode': 'difference', 'color': 'white', 'font-size': '3rem'}"
          (click)="selectImage()"></p-avatar>
        <!-- Picture -->
        <img *ngIf="user?.image" [src]="userImage"
          [style]="{'height': '150px', 'width': '150px', 'overflow': 'hidden', 'border-radius': '50%'}"
          (click)="selectImage()" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="col">
        <span class="p-float-label">
          <input id="float-inputName" style="width: 100%;" type="text" pInputText [(ngModel)]="user.name"
            (ngModelChange)="changeColor()">
          <label for="float-inputName">{{ 'ACCOUNT_INPUT_NAME' | translate }}</label>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="col">
        <span class="p-float-label">
          <input style="width: 100%;" id="float-inputEmail" type="text" pInputText [disabled]="true"
            [(ngModel)]="user.email">
          <label for="float-inputEmail">{{ 'ACCOUNT_INPUT_EMAIL' | translate }}</label>
        </span>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col class="col">
        <div class="flex__space-between__start width perw100">
          <span>{{ 'ACCOUNT_INPUT_EMAIL_VERIFIED' | translate }}</span>
          <p-checkbox binary="true" inputId="verify" [(ngModel)]="user.emailVerified" [disabled]="true"></p-checkbox>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="flex__nowrap">
    <button class="button-fullsize" (click)="save()">
      <span class="color__text__two">{{ 'ACCOUNT_BUTTON' | translate }}</span>
    </button>
  </div>
</ion-content>