/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";

@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: fajalla;
  src: url(../src/assets/font/FjallaOne-Regular.ttf) format("opentype");
}
* {
  font-family: fajalla;
}

.modal-invite {
  .modal-wrapper {
    height: calc(100vh - 64px);
    top: calc(100vh - calc(100vh - 64px));
    position: absolute;
    display: block;
  }
  ion-backdrop {
    --backdrop-opacity: 0;
  }
}

.modal-user {
  .modal-wrapper {
    height: calc(100vh - 64px);
    top: calc(100vh - calc(100vh - 64px));
    position: absolute;
    display: block;
  }
  ion-backdrop {
    --backdrop-opacity: 0;
  }
}

.modal-createGroup {
  .modal-wrapper {
    height: calc(100vh - 64px);
    top: calc(100vh - calc(100vh - 64px));
    position: absolute;
    display: block;
  }
  ion-backdrop {
    --backdrop-opacity: 0;
  }
}

.modal-joinGroup {
  .modal-wrapper {
    height: calc(100vh - 64px);
    top: calc(100vh - calc(100vh - 64px));
    position: absolute;
    display: block;
  }
  ion-backdrop {
    --backdrop-opacity: 0;
  }
}

.modal-Group {
  .modal-wrapper {
    height: calc(100vh - 64px);
    top: calc(100vh - calc(100vh - 64px));
    position: absolute;
    display: block;
  }
  ion-backdrop {
    --backdrop-opacity: 0;
  }
}

.cropper {
  width: 100vw;
  height: 80vh;
}

.cropper-crop-box,
.cropper-view-box {
  border-radius: 50%;
}

.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}

.flex {
  display: flex;
  .justify-center {
    justify-content: center;
  }
  .justify-content-space-between {
    justify-content: space-between;
  }
  .justify-content-space-evenly {
    justify-content: space-evenly;
  }
  .justify-content-space-around {
    justify-content: space-around;
  }

  .align-items-flex-start {
    align-items: flex-start;
  }
  .align-items-flex-end {
    align-items: flex-end;
  }
  .align-items-enter {
    align-items: center;
  }
}

.color {
  .black {
    color: black;
  }
}

.height {
  .perh100 {
    height: 100%;
  }
  .vh100 {
    height: 100vh;
  }
}
.width {
  .perw100 {
    width: 100%;
  }
  .vw100 {
    width: 100vw;
  }
}
