<ng-container style="position: relative;">
  <div style="position: relative;">
    <div style="height: 2vh;"></div>
    <div class="flex__null__center width__12">
      <div class="width__05"></div>
      <div class="width__1">
        <!-- No Picture -->
        <p-avatar *ngIf="!user?.image" label="{{user?.name.charAt(0).toUpperCase()}}" size="large" shape="circle"
          style="z-index: 2;">
        </p-avatar>
        <!-- Picture -->
        <ion-img *ngIf="user?.image" [src]="user?.image"
          style="height: 35px; width: 35px; overflow: hidden; border-radius: 50%; background-color: white; z-index: 2;">
        </ion-img>
      </div>
      <div class="width__05"></div>
      <span class="width__6 flex__null__start">{{user?.name}}</span>
      <div class="width__05"></div>
      <span class="width__3 flex__end">{{post?.date | date: 'dd.MM.yyyy'}}</span>
      <ion-icon class="width__05" name="ellipsis-vertical-outline"></ion-icon>
    </div>
    <div style="height: .5vh;"></div>
    <ion-slides class="width__12" pager=" true" [options]="slideOpts"
      *ngIf="(imagesLoaded | async) && post?.images?.length < 0">
      <ion-slide *ngFor="let img of post.images">
        <ion-img class="width__12" style="object-fit: cover; height: 450px; z-index: 99;" (click)="openViewer()"
          [src]="img">
        </ion-img>
      </ion-slide>
    </ion-slides>
    <ion-img *ngIf="(imagesLoaded | async) && post?.images?.length >= 0" [src]="image" class="width__12"
      style="object-fit: cover; z-index: 99;"></ion-img>
    <p-skeleton *ngIf="!(imagesLoaded | async)" height=" 450px" width="100vw"></p-skeleton>

    <h4 class="width__12 flex__pad flex__null__start">{{post?.titel}}</h4>

    <textarea *ngIf="post?.description && !showMore" id="floatLabelDescription" #floatLabelDescription
      inputId="floatLabelDescription" rows="1" cols="1" pInputTextarea [(ngModel)]="shortDesc" [readonly]="true"
      disabled class="width__11" style="border: none; height: 24px; background-color: white; resize: none;"></textarea>

    <div *ngIf="post?.description.length > shortThresh && !showMore"
      class="width__12 flex__null__start color__text__one" style="padding: 1em; font-size: 12px;"><span
        (click)="showMore = !showMore">{{ 'GROUP_SHOW_MORE' | translate
        }}</span></div>
    <textarea *ngIf="post?.description && showMore" id="floatLabelDescription" #floatLabelDescription
      inputId="floatLabelDescription" rows="1" cols="1" pInputTextarea [(ngModel)]="post.description" [readonly]="true"
      disabled autoresize="true" autosize class="width__11"
      style="border: none; height: 140px; background-color: white; resize: none;"></textarea>
    <div *ngIf="post?.description.length > shortThresh && showMore" class="width__12 flex__null__start color__text__one"
      style="padding: 1em; font-size: 12px;"><span (click)="showMore = !showMore">{{ 'GROUP_SHOW_LESS' | translate
        }}</span></div>
    <div style="height: 2vh;"></div>
  </div>
</ng-container>