<ion-header [translucent]="true">
  <ion-toolbar style="--background: rgba(36, 52, 71, 1); height: 64px;">
    <ion-grid>
      <ion-row>
        <ion-col class="flex__center color__text__two">
          <ion-title style="height: 45px;">
            {{ 'TITLE' | translate }}
          </ion-title>
        </ion-col>
        <ion-col class="flex__end">
          <ion-button *ngIf="iconBar" fill="clear" shape="round" (click)="presentInvite()">
            <ion-icon slot="icon-only" name="mail"></ion-icon>
          </ion-button>
          <ion-button *ngIf="iconBar" fill="clear" shape="round" (click)="presentUser()">
            <ion-icon slot="icon-only" name="person"></ion-icon>
          </ion-button>
          <ion-button *ngIf="iconBar" fill="clear" shape="round" (click)="logout()">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="overflow-y: scroll;">
  <ion-refresher slot="fixed" (ionRefresh)="updateGroups($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngFor="let groupTile of groups; let i = index;">
    <div class="flex__nowrap">
      <div class="groupContainer" (press)="onPress(i)" [style.touch-action]="'pan-y'"
        [style.width]="delete[i] ? '98vw' : '100vw'" (click)="presentGroup(groupTile)">
        <ion-icon class="color__text__one" name="book-outline" style="font-size: 64px; width: 20vw;"></ion-icon>
        <div class="groupContainerText">
          <div class="flex__space-between">
            <ion-title class="color__text__one" style="font-size: 16px; padding: 0; flex: .8 .8 0%; width: 60vw;">
              {{groupTile.name}}
            </ion-title>
            <div class="flex__center__center" style="width: 20vw;">
              <p-avatarGroup *ngFor="let user of groups[i].userRefsUsers;">
                <p-avatar *ngIf="!user.image" label="{{user.name.charAt(0).toUpperCase()}}" shape="circle"
                  [style]="{'background-color': getNameColor(user.name), 'mix-blend-mode': 'difference', 'color':'white'}">
                </p-avatar>
                <img *ngIf="user.image" [src]="user.image"
                  [style]="{'height': '28px', 'width': '28px', 'overflow': 'hidden', 'border-radius': '50%'}" alt="">
              </p-avatarGroup>
            </div>
          </div>
          <span style="font-size: 13px; padding-inline-start: 20px;">{{groupTile.description}}</span>
        </div>
      </div>
      <div class="color__prime-three__background-color" [style.width]="delete[i] ? '2vw' : '0vw'" style="height: 16vh;">
      </div>
    </div>
    <div class="divider"></div>
  </ng-container>
  <div class="groupContainer" (click)="presentJoinGroup()">
    <ion-icon class="color__text__one" name="people-outline" style="font-size: 64px; width: 20vw;"></ion-icon>
    <div class="groupContainerText">
      <div class="flex__space-between">
        <ion-title class="color__text_one" style="font-size: 18px; padding: 0; flex: .8 .8 0%; width: 80vw;">
          {{ 'HOME_JOIN_GROUP_HEADER' | translate }}
        </ion-title>
      </div>
      <span *ngIf="groups.length > 0" style="font-size: 14px; padding-inline-start: 20px;">{{ 'HOME_JOIN_GROUP_BODY' |
        translate }}</span>
      <span *ngIf="groups.length <= 0" style="font-size: 14px; padding-inline-start: 20px;">{{
        'HOME_JOIN_GROUP_BODY_NOGROUP' | translate }}</span>
    </div>
  </div>
  <div class="divider"></div>
  <div class="groupContainer last" (click)="presentCreateGroup()">
    <ion-icon name="person-add-outline" class="color__text__one" style="font-size: 64px; width: 20vw;"></ion-icon>
    <div class="groupContainerText">
      <div class="flex__space-between">
        <ion-title class="color__text__one" style="font-size: 18px; padding: 0; flex: .8 .8 0%; width: 80vw;">
          {{ 'HOME_CREATE_GROUP_HEADER' | translate }}
        </ion-title>
      </div>
      <span *ngIf="groups.length > 0" style="font-size: 14px; padding-inline-start: 20px;">{{ 'HOME_CREATE_GROUP_BODY' |
        translate }}</span>
      <span *ngIf="groups.length <= 0" style="font-size: 14px; padding-inline-start: 20px;">{{
        'HOME_CREATE_GROUP_BODY_NOGROUP' | translate }}</span>
    </div>
  </div>
</ion-content>