@use "/src/assets/styles/config/color.scss";
@use "/src/assets/styles/imports/flex.scss";

:host {
  .button-round {
    --padding-start: 10px;
    --padding-end: 10px;
  }
}

ion-title {
  font-size: 23px;
  font-weight: bold;
}

ion-icon {
  color: white;
}

.divider {
  width: 100vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.groupContainer {
  width: 100vw;
  height: 16vh;

  position: relative;

  display: flex;
  align-items: center;

  &.last {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.groupContainerText {
  height: 100%;
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
}
