<form>
  <ng-container *ngFor="let field of fields; let i = index">
    <ng-container [ngSwitch]="field?.fieldType">

      <div *ngSwitchCase="FieldType?.TEXT" [style.width]="field?.width">
        <input [attr.id]="field?.fieldName+'_'+i" type="text"
          placeholder="{{field?.fieldPlaceholder}}" [(ngModel)]="field.value" name="{{field?.fieldName}}"
          style="width: 100%;" />
      </div>

      <div *ngSwitchCase="FieldType?.PASSWORD" [style.width]="field?.width">
        <input [attr.id]="field?.fieldName+'_'+i" type="password"
          placeholder="{{field?.fieldPlaceholder}}" [(ngModel)]="field.value" name="{{field?.fieldName}}"
          style="width: 100%;" />
      </div>

      <div *ngSwitchCase="FieldType?.EMAIL" [style.width]="field?.width">
        <input [attr.id]="field?.fieldName+'_'+i" type="email"
          placeholder="{{field?.fieldPlaceholder}}" [(ngModel)]="field.value" name="{{field?.fieldName}}"
          style="width: 100%;" pKeyFilter="email" />
      </div>

      <div *ngSwitchCase="FieldType?.NUMBER" [style.width]="field?.width">
        <input [attr.id]="field?.fieldName+'_'+i" type="number"
          placeholder="{{field?.fieldPlaceholder}}" [(ngModel)]="field.value" name="{{field?.fieldName}}"
          style="width: 100%;" pKeyFilter="num" />
      </div>

      <div *ngSwitchCase="FieldType?.BUTTON" [style.width]="field?.width">
        <button [attr.id]="field?.fieldName+'_'+i" style="width: 100%;"
          (click)="outputEmit(field.action)">{{field.fieldName}}</button>
      </div>

    </ng-container>
  </ng-container>
</form>